<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <title> {% block title %}?{% endblock %}  - Awesome Python Webapp - Rebuild Version </title>       
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/code.css"
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% block extra_head %}<!-- before head  -->{% endblock %} 
</head>

<body>
    {% block body %}

        {% block header %}
            {# 任何每个页面都可能修改的文本区域的页面 #}
            {% block menu %}
            {# 菜单 (导航栏) 包含在这个区块中. 它是针对站点级的导航, 不是 每个页面专属的导航菜单. #}
            {% endblock %}
        {% endblock %}

        <div class="container">
        {% block content %}
            {# 这个区块用来放置页面正文内容. 任何页面正文内容都可能不一样. 它不 包含任何站点导航, 信息头, 页脚, 或其它任何属于 base 模板的东东. #}
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span9">
                        {% block article %}
                            {% block article_title %}
                            {% endblock %}
                            {% block article_content %}
                            {% endblock %}
                        {% endblock %}

                        {% block article_menu %} {% endblock %}
                        {% block comments %} {% endblock %}
                        </div>
                        <div class="span3">
                            {% block aside %}
                                {% block tags %}{% endblock %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
        {% endblock %}

        {% block footer %}
            {# 任何每个页面都可能修改的文本区域的页脚 #}
            <p>Thanks for visiting my site! </p>
        {% endblock %}

    {% endblock %}
    </div>
    <script src="/static/js/bootstrap.min.js"></script>
</body> 
</html>